<!DOCTYPE html>
<html lang="en">
<head>
    <title>Session authentication</title>
</head>
<body>
<p>Name - <%= user.name %></p>
<form action="/auth/logout" method="get">
    <input type="submit" value="Logout">
</form>
</body>
</html>
